<h2>
	This project is called Lottery App</h2>


<p>
	The app is written in TypeScript on <a href="https://angular.io">Angular</a> framework and the backend is written in Node JS on <a href="https://nodejs.org/en/">Node</a>.

</p>
<h3>The Project have following Features</h3>
	<ul>
		<li>When Click Lets Play,Diplays 5 unique Number</li>
		<li>When Click Draw History,Diplays all previous Play</li>



	</ul>
<p> 
	Backend server is hosted on <a href="http://localhost:3200">localhost:3200</a> and Frontend is running on the <a href="http://localhost:4200">localhost:4200</a>
</p>

