.highlight {
	margin-top: 10px;
	padding: 9px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
	padding-bottom: 0px;
}

pre {
	margin-bottom: -5px;
}