<div class='card'>
	<div class='card-header'>LETS PLAY</div>
	<div class="card-body"></div>
	<div class="form-group d-flex flex-row">
		<input type="number" name="num1" class="form-control" value={{result}}>
		<input type="number" name="num2" class="form-control" value={{result1}}>
		<input type="number" name="num3" class="form-control" value={{result2}}>
		<input type="number" name="num4" class="form-control" value={{result3}}>
		<input type="number" name="num5" class="form-control" value={{result4}}>
	</div>

	<div class="">
		<button class='btn btn-success' (click)="JACKPOT()">JACKPOT</button>
	</div>

	<div class="card-footer">
		<h4> The numbers are {{result}} </h4>
		<h4> The numbers are {{result1}} </h4>
		<h4> The numbers are {{result2}} </h4>
		<h4> The numbers are {{result3}} </h4>
		<h4> The numbers are {{result4}} </h4>
	</div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</nav>