<div class='card'>
	<div class='card-header'>LETS PLAY</div>
	<div class="card-body"></div>
	<div class="form-group d-flex flex-row">
		<input type="number" name="num1" class="form-control" value={{result}}>
		<input type="number" name="num2" class="form-control" value={{result1}}>
		<input type="number" name="num3" class="form-control" value={{result2}}>
		<input type="number" name="num4" class="form-control" value={{result3}}>
		<input type="number" name="num5" class="form-control" value={{result4}}>
	</div>

	<div class="">
		<button class='btn btn-success' (click)="JACKPOT()">JACKPOT</button>
	</div>
	<div class="">
		<button class='btn btn-success' (click)="getDataFromAPI()">DrawHistory</button>
	</div>
	<div class="card-footer">
		<h4> The numbers are {{result}} </h4>
		<h4> The numbers are {{result1}} </h4>
		<h4> The numbers are {{result2}} </h4>
		<h4> The numbers are {{result3}} </h4>
		<h4> The numbers are {{result4}} </h4>
	</div>

	<ul *ngFor="let d of data">
		<li>{{d.id}}</li>
		<li>{{d.player}}</li>
		<li>{{d.chance1}}</li>
		<li>{{d.chance2}}</li>
		<li>{{d.chance3}}</li>
		<li>{{d.chance4}}</li>
		<li>{{d.chance5}}</li>
	</ul>
</div>

